nav.navbar {
  // border-bottom: 4px solid darken($brand-primary, 20%);
  a.navbar-brand {
    font-family: $font-primary;
    font-size: 2.4em;
    text-transform: uppercase;
  }
}

.logo-brand {
  color: white;
  background-color: black;
  font-family: $font-primary;
  font-size: 2.4em;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 100px 0;
}
